name: "Build Docker image"

on:
  push:
    tags:
      - '*.*.*'

jobs:
  docker:
    name: "Push tagged docker image"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref_name }}

      - name: "Docker login"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build images"
        run: docker build -t ghcr.io/ericsizemore/phpunit-coverage-check-action:${{ github.ref_name }} -t ghcr.io/ericsizemore/phpunit-coverage-check-action:latest .

      - name: "Publish"
        run: |
          docker push ghcr.io/ericsizemore/phpunit-coverage-check-action:${{ github.ref_name }}
          docker push ghcr.io/ericsizemore/phpunit-coverage-check-action:latest

      - name: "Get digest"
        id: get-digest
        run: |
          digest=$(docker manifest inspect ghcr.io/ericsizemore/phpunit-coverage-check-action:${{ github.ref_name }} -v | jq -r '.Descriptor.digest')
          echo "digest=$digest" >> "$GITHUB_OUTPUT"

      - name: "Attest"
        uses: actions/attest-build-provenance@v4
        id: attest
        with:
          subject-name: ghcr.io/ericsizemore/phpunit-coverage-check-action
          subject-digest: ${{ steps.get-digest.outputs.digest }}
          push-to-registry: false
